{% extends 'base.html.twig' %}

{% block title "Mon projet | Bienvenue" %}

{% block body %}
    <div class="hero bg-primary text-white d-flex align-items-center" style="height: 100vh;">
        <div class="container text-center">
            <h1 class="display-4">Bienvenue sur mon projet</h1>
            <p class="lead">Découvrez notre plateforme innovante qui vous aide à transformer vos idées en réalité.</p>
            <a href="{{ url('task.index') }}" class="btn btn-light btn-lg mt-4">Voir la liste des taches</a>
        </div>
    </div>
{% endblock %}
